<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h3>About Us</h3>
    <p>I have nothing to write here, but the code works so thats enough i guess</p>
    <p>ishdfgbiaosbgiasbishdfgbiaosbgiasbishdfgbiaosbgiasbishdfgbiaosbgiasb</p>
    <p>aigknbaisugishdfgbiaosbgiasbishdfgbiaosbgiasbaosfoausfuoishdfgbiaosbgiasb</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>